<div>
  <mat-toolbar class="quantum-header" fxLayoutAlign="center center">
    <h1>Mirror Detail</h1>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="start start" class="sidenav-content">
    <h2 style="font-weight: 400; padding: 0px; margin: 0px;">{{ mirror?.name }}</h2>
  </div>
  <mat-list>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Information</h2>
    <mat-list-item>
      <h4 mat-line>Code</h4>
      <p mat-line>{{ mirror?.code }}</p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>Location</h4>
      <p mat-line>{{ mirror?.location }}</p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>Register Date</h4>
      <p mat-line [matTooltip]="mirror?.created_at">{{ mirror?.created_at | amTimeAgo }}</p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>Shared Status</h4>
      <p mat-line>{{ mirror?.is_shared ? 'Shared':'Not shared' }}</p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>Status</h4>
      <mat-chip-list aria-label="Mirror status tag">
        <mat-chip *ngIf="mirror?.is_active" color="primary" selected>Active</mat-chip>
        <mat-chip *ngIf="!mirror?.is_active" color="warn" selected>Inactive</mat-chip>
      </mat-chip-list>
    </mat-list-item>
    <mat-list-item>
      <button fxFlex style="padding: 0px 16px;" mat-button mat-flat-button color="accent" (click)="unassignUserMirror()">Delete</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div>
      <h3 mat-subheader style="margin-top: 0px;">
        <span>Shared Users</span>
        <div fxFlex></div>
        <button mat-icon-button (click)="getMirrorUsers()" [matTooltip]="'Refresh'">
          <mat-icon aria-label="refresh">cached</mat-icon>
        </button>
      </h3>
    </div>
    <mat-progress-bar *ngIf="isLoadingUsers" mode="indeterminate" value="15" color="accent"></mat-progress-bar>
    <mat-list-item *ngFor="let user of mirror?.users" class="sidenav-user-item" [ngClass]="{'sidenav-user-current':user.id == credentials?.id}">
      <img mat-list-icon src="/assets/images/avatars/avatar.png" alt="{{ user.alias }}">
      <h4 mat-line>{{ user.alias }}</h4>
      <p mat-line>{{ user.email }}</p>
    </mat-list-item>
  </mat-list>
</div>
