:host {
  display: flex;
  flex: 1;
  // background-color: #f5f5f5;
  background-color: black;
}
//
// .mat-tab-label-active {
//   opacity: 1;
// }
//
// .access-container,
// .mat-form-field {
//   width: 100%;
// }
