<div fxFlex fxLayout="column" class="mat-typography">

  <!-- TOOLBAR -->
  <mat-sidenav-container>
    <mat-sidenav-content>
      <mat-toolbar class="quantum-header">
        <div fxLayoutAlign="start center">
          <h1 translate>Dashboard</h1>
        </div>
        <span fxFlex></span>
        <a mat-button (click)=logout()>
          <img class="toolbar-user-avatar" src="/assets/images/avatars/avatar.png" alt="{{ alias }}">
          <span>{{ alias }}</span>
        </a>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- MODULES -->
  <div fxFlex fxLayout="column" class="content-modules" >
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-between start" class="content-section">

      <!-- MODULE NW -->
      <div fxFlex="35">
        <div [hidden]="!panelLeftVisible">
          <h2>{{ moduleNW?.value.date }}</h2>
          <div fxLayout="row" fxLayoutAlign=" start" fxLayoutGap="5px">
            <h1>{{ moduleNW?.value.time }}</h1>
            <h3 style="font-weight: 200">{{ moduleNW?.value.seconds }}</h3>
          </div>
        </div>
      </div>

      <!-- MODULE NE -->
      <div fxFlex="25">
        <div [hidden]="!panelRightVisible">
        <div fxLayoutAlign="end ">
          <!-- <p>MODULE NE</p> -->
          <weather-widget [settings]="this.moduleNE?.config"></weather-widget>
        </div>
        </div>
      </div>

    </div>
    <div fxFlex="50"fxLayout="row" fxLayoutAlign="space-between end" class="content-section">

      <!-- MODULE WS -->
      <div fxFlex="30">
        <div [hidden]="!panelLeftVisible">
          <div class="content-module-feed" fxLayout="column" fxLayoutAlign=" end">
            <div *ngFor="let feed of moduleWS?.value.articles | slice:0:5">
              <h3>{{ feed.publishedAt | amTimeAgo }}, {{ feed.source.name }}</h3>
              <h2>{{ feed.title }}</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- MODULE SE -->
      <div fxFlex="30">
        <div [hidden]="!panelRightVisible">
          <mat-calendar></mat-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
