.logo {
  width: 150px;
  margin: 0 auto;
}

.toolbar-search {
  input {
    outline: none;
    border: 0px;
    padding-left: 8px;
    // font-size: 18px;
  }
  textarea:focus, input:focus{
    outline: none;
  }
  .mat-card {
    padding: 8px;
  }
}

.content-mirrors {
  h2 {
    margin: 0px;
    padding: 0px;
  }
}

.item-mirror:hover {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
