<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav class="quantum-sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [disableClose]="!isMobile">
      <mat-toolbar>
        <span style="font-weight: 200">Quantum</span><span>Mirror</span>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/dashboard" routerLinkActive="active" (click)="isMobile && sidenav.close()" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>dashboard</mat-icon>
            <span translate>Dashboard</span>
          </a>
          <!-- <mat-divider></mat-divider> -->
          <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>question_answer</mat-icon>
            <span translate>About</span>
          </a>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-sidenav-container fxFill>
        <mat-sidenav #sidenavContent mode="over" opened="false" position="end">
          <app-dashboard-sidenav [sidenav]="sidenavContent"></app-dashboard-sidenav>
        </mat-sidenav>
        <mat-sidenav-content class="quantum-background">
          <mat-toolbar class="quantum-header">
            <div fxLayoutAlign="start center">
              <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
              </button>
              <h1>{{ title }}</h1>
            </div>
            <span fxFlex></span>
            <div>
              <button mat-icon-button (click)="toogleFullScreen()" fxShow="false" fxShow.gt-xs>
                <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
                <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
              </button>
            </div>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="themeMenu" fxShow="false" fxShow.gt-xs>
                <mat-icon>format_paint</mat-icon>
              </button>
              <mat-menu #themeMenu="matMenu">
                <button mat-menu-item *ngFor="let theme of themes" (click)="toggleTheme(theme)">{{ theme }}</button>
              </mat-menu>
            </div>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="languageMenu">
                <mat-icon>language</mat-icon>
              </button>
              <mat-menu #languageMenu="matMenu">
                <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)" translate>{{ language }}</button>
              </mat-menu>
            </div>
            <a mat-button [matMenuTriggerFor]="userMenu">
              <img class="toolbar-user-avatar" src="/assets/images/avatars/avatar.png" alt="{{ alias }}">
              <span>{{ alias }}</span>
            </a>
            <mat-menu #userMenu="matMenu">
              <div fxLayout="row" fxLayoutAlign="start center" class="toolbar-menu-header">
                <img class="toolbar-menu-header__avatar" src="/assets/images/avatars/avatar.png" alt="{{ alias }}"/>
                <div class="toolbar-menu-header__text" fxLayout="column" fxLayoutAlign="center start">
                  <h3>{{ alias }}</h3>
                  <h5>{{ email }}</h5>
                </div>
              </div>
              <mat-nav-list class="toolbar-menu-list">
                <a mat-list-item routerLink="/profile" routerLinkActive="active" (click)="isMobile && sidenav.close()">
                  <mat-icon matListIcon>account_circle</mat-icon>
                  <span translate>My Profile</span>
                </a>
                <a mat-list-item>
                  <mat-icon matListIcon>info</mat-icon>
                  <span translate>Activity</span>
                </a>
                <a mat-list-item>
                  <mat-icon matListIcon>notifications</mat-icon>
                  <span translate>Notifications</span>
                </a>
                <a mat-list-item>
                  <mat-icon matListIcon>settings</mat-icon>
                  <span translate>Configuration</span>
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item>
                  <mat-icon matListIcon>security</mat-icon>
                  <span translate>Security and privacy</span>
                </a>
                <a mat-list-item>
                  <mat-icon matListIcon>help</mat-icon>
                  <span translate>Help Center</span>
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item (click)="logout()">
                  <mat-icon matListIcon>exit_to_app</mat-icon>
                  <span translate>Logout</span>
                </a>
              </mat-nav-list>
            </mat-menu>

          </mat-toolbar>
          <div class="mat-container">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
