<div id="stage" fxFill fxFlex fxLayout="column" fxLayoutAlign="center center">
  <!-- <p>Quamtum Access</p> -->

  <svg class="_patternlock" id="quantum-lock" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g class="lock-actives"></g>
    <g class="lock-lines"></g>
    <g class="lock-dots">
      <circle cx="20" cy="20" r="2" />
      <circle cx="50" cy="20" r="2" />
      <circle cx="80" cy="20" r="2" />

      <circle cx="20" cy="50" r="2" />
      <circle cx="50" cy="50" r="2" />
      <circle cx="80" cy="50" r="2" />

      <circle cx="20" cy="80" r="2" />
      <circle cx="50" cy="80" r="2" />
      <circle cx="80" cy="80" r="2" />
    </g>
  </svg>
  <div fxLayout="row">
    <button fxFlex mat-stroked-button (click)="clearPatternLock()">
      <span translate>Clear</span>
    </button>
  </div>
  <!-- <div id="stage" style="background-color:rgb(250,235,200); width:800px; height:600"></div> -->
</div>
